$base-color: salmon;

h1{
  color: $base-color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
}

// Built-in function
// Color Function
/* adjust-color(
  $color, 
  $red: 0, $green: 0, $blue: 0, 
  $hue: 0, $saturation: 0, 
  $lightness: 0, whiteness: 0, blackness: 0, 
  $alpha: 1
); */

h1{
  // color: adjust-color($color: $base-color, $green: 2, $blue: 3, $alpha: 1.0),
  color: adjust-hue($base-color, -30%)
}

h1 {
  color: complement($color: $base-color)
}

h1 {
  color: darken($color: $base-color, $amount: 30%)
}

h1 {
  color: lighten($color: $base-color, $amount: 10%)
}

h1 {
  color: saturate($color: $base-color, $amount: 30%)
}

h1 {
  color: desaturate($color: $base-color, $amount: 100%)
}

h1 {
  color: grayscale($base-color)
}

h1 {
  color: mix($base-color, blue, 80%)
}

h1 {
  color: fade-in(rgba(250,128,114,.2), .7)
}

h1 {
  color: fade-out($base-color, .7);
}