// CSS variabel
// :root {
//   --primary-color: #faebd3;
//   --secondary-color: #a12421;
//   --text-color: #f01a79;
// }

// body {
//   background-color: var(--primary-color);
// }

// h1 {
//   color: var(--text_color);
// }

// SASS Variabel
$primary-color: green;
$secondary-color: #a12421;
$text-color: #f01a79;
$alert: (
	'danger': red,
	'success': green,
	'warning': orange,
);

body {
  $primary-color: #faebd3 !global;
  background-color: $primary-color;
}

h1 {
  color: $primary-color;
}

p {
  color: map-get($alert, 'success')
}